<nav>
  <div class="logo"></div>

  <!-- Sections menu -->
  <div class="sections" [class.active]="isMenuOpen">
    <ul (click)="scrollTo('tours')">Tours</ul>
    <ul (click)="scrollTo('book')">How to Book?</ul>
    <ul (click)="scrollTo('book')">Book Now</ul>
    <ul (click)="scrollTo('contact')">Contact us</ul>
  </div>

  <!-- Hamburger icon -->
  <div class="hamburger" (click)="toggleMenu()">
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
    <span [class.open]="isMenuOpen"></span>
  </div>
</nav>
