<div class="cover-pic">
    <div class="cover">
        <p>Discover Georgia with <span>Tour For You!</span> </p>
        <div class="offers-section">
            <h2>We Offer:</h2>
            <ul class="offers-list">
                <ul><span class="checkmark">✔</span> Accommodation</ul>
                <ul><span class="checkmark">✔</span> Transport</ul>
                <ul><span class="checkmark">✔</span> Excursions</ul>
                <ul><span class="checkmark">✔</span> Nutrition</ul>
             </ul>
        </div>
        <div class="images-section">
            <div class="image-item st-nino-monastery"></div>
            <div class="image-item borjomi"></div>
            <div class="image-item food"></div>
            <div class="image-item signagi"></div>
            <div class="image-item old-town"></div>
            <div class="image-item mtskheta"></div>
        </div>

    </div>
</div>
<div class="decoration">
    <div class="left kartlimother-left"></div>
    <h1 class="tbilisi title">Tour in Tbilisi</h1>
    <div class="right kartlimother-right"></div>
</div>
<div class="tour-box">
    <div class="imgs-cont">
        <div class="tbilisi-1"></div>
        <div class="tbilisi-3"></div>
        <div class="tbilisi-2"></div>
    </div>

    <div class="tour-bg tour-tbilisi">
        <div class="card tbilisi-card">
            <h2>It is Time for Tbilisi!</h2>
            <p>Lorem ipsum, dolos maxime, fuga pariatur saepe quam vel? Atque placeat eligendi, recusandae eos ipsum repudiandae maxime harum porro obcaecati! Quasi explicabo nisi laudantium cumque repellat tempora, in accusamus quia obcaecati.</p>
            <div class="details tbilisi-det">
                <h3>January-December</h3>
                <h3>price:200$</h3>
                <h3>days:4</h3>
            </div>
            <button class="btn-2">See details</button>
        </div>
    </div>

</div>
<div class="decoration">
    <div class="left grape-left"></div>
    <h1 class="kakheti title">Tour in Kakheti</h1>
    <div class="right grape-right"></div>
</div>
<div class="tour-box">
    <div class="tour-bg tour-grape">
        <div class="card">
            <h2>It is Time for Kakheti!</h2>
            <p>Lorem ipsum, dolos maxime, fuga pariatur saepe quam vel? Atque placeat eligendi, recusandae eos ipsum repudiandae maxime harum porro obcaecati! Quasi explicabo nisi laudantium cumque repellat tempora, in accusamus quia obcaecati.</p>
            <div class="details">
                <h3>October-November</h3>
                <h3>price:700$</h3>
                <h3>days:4</h3>
            </div>
            <button>See details</button>
        </div>
    </div>
    <div class="imgs-cont">
        <div class="kakheti-1"></div>
        <div class="kakheti-2"></div>
        <div class="kakheti-3"></div>
    </div>
</div>

<div class="decoration">
    <div class="left deer-left"></div>
    <h1 class="title borjomi-t">Tour in Borjomi</h1>
    <div class="right deer-right"></div>
</div>
<div class="tour-box">
    <div class="imgs-cont">
        <div class="borjomi-3"></div>
        <div class="borjomi-1"></div>
        <div class="borjomi-2"></div>
    </div>
    <div class=" tour-bg tour-deer">
        <div class="card borjomi-card">
            <h2>It is Time for Borjomi!</h2>
            <p>Lorem ipsum, dolos maxime, fuga pariatur saepe quam vel? Atque placeat eligendi, recusandae eos ipsum repudiandae maxime harum porro obcaecati! Quasi explicabo nisi laudantium cumque repellat tempora, in accusamus quia obcaecati.</p>
            <div class="details borjomi-det">
                <h3>January-February</h3>
                <h3>price:800$</h3>
                <h3>days:4</h3>
            </div>
            <button>See details</button>
        </div>
    </div>
</div>

<div class="decoration">
    <div class="left skii-left"></div>
    <h1 class="bakuriani title">Tour in Bakuriani</h1>
    <div class="right skii-right"></div>
</div>
<div class="tour-box">

    <div class="tour-bg tour-skii">
        <div class="card bakuriani-card">
            <h2>It is Time for Bakuriani!</h2>
            <p>Lorem ipsum, dolos maxime, fuga pariatur saepe quam vel? Atque placeat eligendi, recusandae eos ipsum repudiandae maxime harum porro obcaecati! Quasi explicabo nisi laudantium cumque repellat tempora, in accusamus quia obcaecati.</p>
            <div class="details bakuriani-det">
                <h3>January-February</h3>
                <h3>price:900$</h3>
                <h3>days:4</h3>
            </div>
            <button class="btn-2">See details</button>
        </div>
    </div>
    <div class="imgs-cont">
        <div class="bakuriani-1"></div>
        <div class="bakuriani-3"></div>
        <div class="bakuriani-2"></div>
    </div>
</div>



<div class="booking-section">
    <div class="booking-img"></div>
    <button class="btn-3" (click)="openModal()">Book Now</button>
    <div *ngIf="isModalOpen" class="modal-overlay">
        <div class="modal-content">
            <div class="logo"></div>
          <button class="close-btn" (click)="closeModal()">X</button>
          <p class="modal-text">Leave a request and receive <br> a detailed program for each trip!</p>
          <h4>Our specialist will consult you </h4>
         <form action="submit">
            <input type="name" placeholder="Name">
            <input type="tel" id="phone">
            <button type="submit" class="submit-btn">Find out details of the trip </button>
         </form>

          <p class="policy-text">By submitting an application, you agree to <br> the personal data processing policy.</p>
        </div>
      </div>
</div>

