<div class="cover-pic">
    <div class="cover">
        <p>Discover Georgia with <span>Tours For You!</span> </p>
        <div class="offers-section">
            <h2>We Offer:</h2>
            <ul class="offers-list">
                <ul><span class="checkmark">✔</span> Accommodation</ul>
                <ul><span class="checkmark">✔</span> Transport</ul>
                <ul><span class="checkmark">✔</span> Excursions</ul>
                <ul><span class="checkmark">✔</span> Nutrition</ul>
             </ul>
        </div>
        <div class="images-section">
            <div class="image-item st-nino-monastery"></div>
            <div class="image-item borjomi"></div>
            <div class="image-item food"></div>
            <div class="image-item signagi"></div>
            <div class="image-item old-town"></div>
            <div class="image-item mtskheta"></div>
        </div>

    </div>
</div>
